
<!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-lg" id="question-button" data-toggle="modal" data-target="#myModal">
  Did you bring donuts? &rarr;
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">What did you bring?</h4>
      </div>
      <div class="modal-body">
        <div id="donut-form">
          <%= form_tag "/api/v1/donuts", method: :post, :id => "goodCoworkerForm" do %>
            <div class="form form-group">
              <%= label_tag :brand, "Brand/Store:" %>
              <%= text_field_tag :brand, nil, class: "form-control", id: "form-brand" %>
            </div>
            <div class="form form-group">
              <%= label_tag :quantity, "Quantity:" %>
              <%= text_field_tag :number, nil, class: "form-control", id: "form-quantity" %>
            </div>
            <div class="form form-group">
              <%= label_tag :from, "Your name:" %>
              <%= text_field_tag :name, nil, class: "form-control", id: "form-name" %>
            </div>
            <div class="form form-group" id="modal-button">
              <button type="submit" class="btn btn-success">I brought these!</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">just kidding...</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<h2 id="title-text">ARE THERE DONUTS?</h2>

<h2 class="message-text<%= @class %>"><%= @message %></h2>

<div id="outputToday">
</div>

<hr>

<div class="container history-container">
  <div>
    <h4 class="history">Previous kind souls:</h4>
      <div id="outputHistory">
      </div>
  </div>
</div>

<script id="donutDataToday" type="text/x-handlebars-template">
  {{#each donuts}}
    <div class="row">
      <div class="col-md-12">
        <p>
          {{name}} brought {{number}} {{isPlural}} from {{brand}} today!
        </p>
      </div>
    </div>
  {{/each}}
</script>

<script id="donutDataHistory" type="text/x-handlebars-template">
  <div class="row">
    {{#each donuts}}
      <div class="col-md-4">
        <p>
          {{name}} brought {{number}} {{isPlural}} from {{brand}} on {{date}}
        </p>
      </div>
    {{/each}}
  </div>
</script>
